<app-nav></app-nav>

<section class="banner_area container" style="margin-top: 206px;">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Cart</h2>
                    <p>Very us move be blessed multiply night</p>
                </div>
                <div class="page_link">
                    <a href="/home">Home</a>
                    <a href="/cart">Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>

<h5 class="text-danger mt-5" *ngIf="products.length == 0" style="text-align: center; min-height: 300px;">Not found product in cart</h5>

<div style="min-height: 500px;" *ngIf="!showOrder && products.length > 0" class="container">
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Size</th>
                                <th scope="col">Color</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Action</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of products; let i = index">
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{'data:image/jpeg;base64,' + item.image}}" width="140" height="100" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <p>{{item.name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                                <td>{{item.size}}</td>
                                <td>{{item.color}}</td>
                                <td>
                                    <h5>${{item.price*((100-item.promotionPrice)/100)}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" [value]="item.quantity" #quantity (input)="updateQuantity(item.id,quantity.value)" class="input-text qty" />
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="button" (click)="deleteProduct(item)">Delete</button>
                                </td>
                                <td>
                                    <h5>${{item.price* item.quantity* ((100-item.promotionPrice)/100) | number}}</h5>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <button class="main_btn" (click)="showInfo = !showInfo">Apply</button>
                                        <a class="gray_btn" href="/home">Close</a>
                                    </div>

                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>${{sumOfPrice()|number}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <div class="border col-4" *ngIf="showInfo" style="border-radius: 6%;">
        <form class="m-3" [formGroup]="infoForm" (ngSubmit)="addOrder()">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">

                    <div *ngIf="name?.errors?.required">
                        Name is not required
                    </div>

                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Phone number</label>
                <input type="text" class="form-control" formControlName="phone">
                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="text-danger">

                    <div *ngIf="phone?.errors?.required">
                        Phone is not required
                    </div>

                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" formControlName="address">
                <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="text-danger">

                    <div *ngIf="address?.errors?.required">
                        Address is not required
                    </div>

                </div>
            </div>

            <button class="main_btn" type="submit" [disabled]="infoForm.invalid">Order</button>
        </form>
    </div>
</div>


<section class="cart_area" *ngIf="showOrder">
    <div class="container">
        <h3 class="text-center">Order details</h3>
        <p>Name: {{order.nameUser}}</p>
        <p>Phone number: {{order.phone}}</p>
        <p>Address: {{order.address}}</p>
        <p>Created: {{order.createdOn}}</p>
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{'data:image/jpeg;base64,' + item.image}}" width="140" height="100" alt="" />
                                    </div>
                                    <div class="media-body">
                                        <p>{{item.name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>${{item.price*((100-item.promotionPrice)/100)}}</h5>
                            </td>
                            <td>
                                {{item.quantity}}
                            </td>
                            <td>
                                <h5>${{item.price* item.quantity* ((100-item.promotionPrice)/100)}}</h5>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a class="gray_btn" routerLink="/home">Close</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>${{sumOfPrice()|number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <app-footer></app-footer>
</div>