<button type="button" class="btn btn-success" [routerLink]="['/admin/create-category']">
    <i class="fas fa-plus-square"></i>
    Create
</button>
<br>
<br>
<div *ngIf="categories == null" class="text-center" style="min-height: 300px;">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="card my-4" *ngIf="categories != null">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Category List</h6>
        </div>
    </div>
    <div class="ms-md-auto pe-md-3 d-flex mt-4">
        <div class="input-group input-group-outline">
            <input placeholder="Search..." type="text" class="form-control" #search (input)="getCategoryByName(search.value)">
        </div>
    </div>
    <div class="card-body px-0 pb-2 mr-4 ms-4">
        <div class="table-responsive p-0">
            <table class="table table-hover">
                <h5 *ngIf="notFound == true" class="text-danger text-center" style="margin-bottom: 300px;">Not found any result</h5>
                <thead *ngIf="categories.length > 0">
                    <tr>
                        <th>Name</th>
                        <th>Created On</th>
                        <th>Updated On</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of categories | paginate: { itemsPerPage: 5, currentPage: cp };let i = index">
                        <td>{{item.name}}</td>
                        <td>{{item.createdOn | date}}</td>
                        <td>{{item.updatedOn | date}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-sm btn-danger" (click)="deleteCategory(item.id)">
                        <i class="fas fa-trash"></i>
                        Delete
                    </button>
                                <button type="button" class="btn btn-sm btn-warning" [routerLink]="['/admin/edit-category',item.id]">
                        <i class="fas fa-pen-square"></i>
                        Update
                    </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <pagination-controls class="my-pagination" (pageChange)="cp = $event" previousLabel="" nextLabel=""></pagination-controls>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>