<button type="button" class="btn btn-success" [routerLink]="['/register']">
    <i class="fas fa-plus-square"></i>
    Create
</button>
<br>
<br>
<div *ngIf="users == null" class="text-center" style="min-height: 300px;">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="card my-4" *ngIf="users != null">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">User List</h6>
        </div>
    </div>
    <div class="ms-md-auto pe-md-3 d-flex mt-4">
        <div class="input-group input-group-outline">
            <input placeholder="Search..." type="text" class="form-control" #search>
        </div>
    </div>
    <div class="card-body px-0 pb-2 mr-4 ms-4">
        <div class="table-responsive p-0">
            <table class="table table-hover">
                <h5 *ngIf="notFound == true" class="text-danger text-center" style="margin-bottom: 300px;">Not found any result</h5>
                <thead *ngIf="users.length > 0">
                    <tr>
                        <th>Username</th>
                        <th>Emnail</th>
                        <th>Roles</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of users | paginate: { itemsPerPage: 5, currentPage: cp };let i = index">

                        <td>
                            {{item.userName}}
                        </td>
                        <td>{{item.email}}</td>

                        <td>{{item.roles}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">

                                <button type="button" class="btn btn-sm btn-outline-primary" [routerLink]="['/admin/edit-user',item.userId]">
                        <i class="fas fa-pen-square"></i>
                        Manager roles
                    </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <pagination-controls class="my-pagination" (pageChange)="cp = $event" previousLabel="" nextLabel=""></pagination-controls>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>