<h4>Manger roles</h4>
<div class="form-check" *ngFor="let item of roles">
    <input [checked]="item.selected == true ? true : false" class="form-check-input" type="checkbox" (click)="checkRole(item)">
    <label class="form-check-label" for="flexCheckDefault">
      {{item.roleName}}
    </label>
</div>

<br>
<button type="button" class="btn btn-primary" (click)="updateRoles()">Save</button> &nbsp;
<a type="button" class="btn btn-outline-primary" routerLink="/admin/user">Cancle</a>