<div class="super_container">

    <!-- Header -->
    <app-nav></app-nav>

    <div class="container product_section_container">
        <div class="row">
            <div class="col product_section clearfix">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li *ngIf="categoryName" class="active"><i class="fa fa-angle-right" aria-hidden="true"></i>{{categoryName}}</li>
                    </ul>
                </div>

                <!-- Sidebar -->

                <div class="sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Category</h5>
                        </div>
                        <ul class="sidebar_categories">
                            <li [ngClass]="categoryName == item.name ? 'active':''" *ngFor="let item of categories" (click)="getProductsByCategoryId(item.id, item.name)">
                                <a style="cursor: pointer;">
                                    <!-- <i class="fa fa-angle-double-right" aria-hidden="true"></i> -->
                                    <span></span>{{item.name}}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Price Range Filtering -->
                    <!-- <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Filter by Price</h5>
                        </div>
                        <p>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                        <div id="slider-range"></div>
                        <div class="filter_button"><span>filter</span></div>
                    </div> -->

                    <!-- Sizes -->
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Sizes</h5>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                 S
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                            <label class="form-check-label" for="flexCheckDefault">
                                 M
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                 L
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                 XL
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                 XXL
                                </label>
                        </div>
                    </div>

                    <!-- Color -->
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Color</h5>
                        </div>

                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                 Blue
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                 Red
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                 Red
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                 Red
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                 Red
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                 Black
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                 White
                                </label>
                        </div>
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                 Pink
                                </label>
                        </div>

                        <div class="show_more">
                            <span><span>+</span>Show More</span>
                        </div>
                    </div>

                </div>

                <!-- Main Content -->

                <div class="main_content">

                    <!-- Products -->

                    <div class="products_iso">
                        <div class="row">
                            <div class="col">

                                <!-- Product Sorting -->

                                <div class="product_sorting_container product_sorting_container_top">
                                    <ul class="product_sorting">
                                        <li>
                                            <span class="type_sorting_text">Default Sorting</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_type">
                                                <li class="type_sorting_btn" (click)="sortDefault()" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
                                                <li class="type_sorting_btn" (click)="sortByPrice()" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                                <li class="type_sorting_btn" (click)="sortByName()" data-isotope-option='{ "sortBy": "name" }'><span>Product Name</span></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>Show</span>
                                            <span class="num_sorting_text">{{pageSize}}</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_num">
                                                <li class="num_sorting_btn" (click)="show4()"><span>4</span></li>
                                                <li class="num_sorting_btn" (click)="show8()"><span>8</span></li>
                                                <li class="num_sorting_btn" (click)="show12()"><span>12</span></li>
                                            </ul>
                                        </li>
                                        <li style="padding-left: 0px;">
                                            <input placeholder="Search..." type="text" class="form-control num_sorting_text" style="width: auto;" #search (input)="getProductsByName(search.value)">
                                        </li>
                                    </ul>

                                    <div class="pages d-flex flex-row align-items-center">
                                        <div class="page_current">
                                            <span>{{cp}}</span>
                                            <!-- <ul class="page_selection">
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul> -->
                                        </div>
                                        <div class="page_total"><span>of</span> {{totalPage()}}</div>
                                        <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                                <!-- Product Grid -->

                                <div class="product-grid row">
                                    <!-- Product 1 -->
                                    <div class="row ml-5" *ngIf="products == null">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-secondary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-success" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-danger" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-warning" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-info" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-light" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>

                                    <div *ngIf="showAll" class="row">
                                        <div class="product-item men" *ngFor="let item of products | paginate: { itemsPerPage: pageSize, currentPage: cp }">
                                            <div class="product discount product_filter">
                                                <div class="product_image">
                                                    <img src="{{'data:image/jpeg;base64,' + item.image}}" height="230" [routerLink]="['/detail',item.id]">
                                                </div>
                                                <div class="favorite favorite_left"></div>
                                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-${{item.price - (item.price * ((100-item.promotionPrice)/100)) | number}}</span></div>
                                                <div class="product_info">
                                                    <h6 class="product_name"><a href="single.html">{{item.name}}</a></h6>
                                                    <div class="product_price">${{item.price * ((100-item.promotionPrice)/100)| number}}<span>${{item.price}}</span></div>
                                                </div>
                                            </div>
                                            <div class="red_button add_to_cart_button"><a (click)="addToCart(item)">add to cart</a></div>
                                        </div>
                                    </div>

                                    <div *ngIf="!showAll">
                                        <div class="row">
                                            <!-- Product Grid -->
                                            <div class="row">
                                                <h4 class="col-md-10">Selling Products</h4>
                                                <a class="col-md-2 ps-5" style="cursor: pointer;color: red;" (click)="showAll = true">See all >></a>
                                            </div>

                                            <div class="product-grid row">
                                                <!-- Product 1 -->
                                                <div class="product-item men" *ngFor="let item of productsBestSold | paginate: { itemsPerPage: pageSize, currentPage: cp }">
                                                    <div class="product discount product_filter">
                                                        <div class="product_image">
                                                            <img src="{{'data:image/jpeg;base64,' + item.image}}" height="230" [routerLink]="['/detail',item.id]">
                                                        </div>
                                                        <div class="favorite favorite_left"></div>
                                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-${{item.price - (item.price * ((100-item.promotionPrice)/100)) | number}}</span></div>
                                                        <div class="product_info">
                                                            <h6 class="product_name"><a href="single.html">{{item.name}}</a></h6>
                                                            <div class="product_price">${{item.price * ((100-item.promotionPrice)/100)| number}}<span>${{item.price}}</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="red_button add_to_cart_button"><a (click)="addToCart(item)">add to cart</a></div>
                                                </div>
                                                <!-- Product Sorting -->
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <!-- Product Grid -->
                                            <h4>New Products</h4>
                                            <div class="product-grid row">
                                                <!-- Product 1 -->
                                                <div class="product-item men" *ngFor="let item of productsLast | paginate: { itemsPerPage: pageSize, currentPage: cp }">
                                                    <div class="product discount product_filter">
                                                        <div class="product_image">
                                                            <img src="{{'data:image/jpeg;base64,' + item.image}}" height="230" [routerLink]="['/detail',item.id]">
                                                        </div>
                                                        <div class="favorite favorite_left"></div>
                                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-${{item.price - (item.price * ((100-item.promotionPrice)/100)) | number}}</span></div>
                                                        <div class="product_info">
                                                            <h6 class="product_name"><a href="single.html">{{item.name}}</a></h6>
                                                            <div class="product_price">${{item.price * ((100-item.promotionPrice)/100)| number}}<span>${{item.price}}</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="red_button add_to_cart_button"><a (click)="addToCart(item)">add to cart</a></div>
                                                </div>
                                                <!-- Product Sorting -->
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <!-- Product Grid -->
                                            <h4>Discount Products</h4>
                                            <div class="product-grid row">
                                                <!-- Product 1 -->
                                                <div class="product-item men" *ngFor="let item of productBestPromotion | paginate: { itemsPerPage: pageSize, currentPage: cp }">
                                                    <div class="product discount product_filter">
                                                        <div class="product_image">
                                                            <img src="{{'data:image/jpeg;base64,' + item.image}}" height="230" [routerLink]="['/detail',item.id]">
                                                        </div>
                                                        <div class="favorite favorite_left"></div>
                                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-${{item.price - (item.price * ((100-item.promotionPrice)/100)) | number}}</span></div>
                                                        <div class="product_info">
                                                            <h6 class="product_name"><a href="single.html">{{item.name}}</a></h6>
                                                            <div class="product_price">${{item.price * ((100-item.promotionPrice)/100)| number}}<span>${{item.price}}</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="red_button add_to_cart_button"><a (click)="addToCart(item)">add to cart</a></div>
                                                </div>
                                                <!-- Product Sorting -->
                                            </div>
                                        </div>
                                    </div>


                                    <h5 class="text-danger text-center" *ngIf="notFound">Not found product</h5>
                                    <!-- Product Sorting -->

                                    <div class="product_sorting_container product_sorting_container_bottom clearfix" *ngIf="showAll">
                                        <ul class="product_sorting" *ngIf="products.length > 0">
                                            <li>
                                                <span>Show:</span>
                                                <span class="num_sorting_text">{{pageSize}}</span>
                                                <i class="fa fa-angle-down"></i>
                                                <ul class="sorting_num">
                                                    <li class="num_sorting_btn" (click)="show4()"><span>4</span></li>
                                                    <li class="num_sorting_btn" (click)="show8()"><span>8</span></li>
                                                    <li class="num_sorting_btn" (click)="show12()"><span>12</span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <span *ngIf="products.length > 0" class="showing_results">Showing {{pageSize}} of {{products.length}} results</span>
                                        <div class="pages d-flex flex-row align-items-center">
                                            <nav aria-label="Page navigation example" *ngIf="products != null && products.length > 0">
                                                <ul class="pagination justify-content-end">
                                                    <li class="page-item">
                                                        <pagination-controls class="my-pagination" (pageChange)="cp = $event" previousLabel="" nextLabel=""></pagination-controls>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Benefit -->
        <app-footer></app-footer>


    </div>