<div class="border">
    <form [formGroup]="productForm" (ngSubmit)="Create()" class="m-5">
        <div class="row">
            <div class="mb-3 col-lg-6">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">

                    <div *ngIf="name?.errors?.required">
                        This feld is required.
                    </div>

                </div>
            </div>
            <div class="mb-3 col-lg-6">
                <label class="form-label">Quantity</label>
                <input type="number" class="form-control" formControlName="quantity">
                <div *ngIf="quantity?.invalid && (quantity?.dirty || quantity?.touched)" class="text-danger">

                    <div *ngIf="quantity?.errors?.required">
                        This feld is required.
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-lg-6">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" formControlName="price">
                <div *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="text-danger">

                    <div *ngIf="price?.errors?.required">
                        This feld is required.
                    </div>

                </div>
            </div>
            <div class="mb-3 col-lg-6">
                <label class="form-label">Size</label>
                <select class="form-select" formControlName="size">
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                </select>
                <div *ngIf="size?.invalid && (size?.dirty || size?.touched)" class="text-danger">

                    <div *ngIf="size?.errors?.required">
                        This feld is required.
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-lg-6">
                <label class="form-label">Description</label>
                <input type="text" class="form-control mb-3" formControlName="description">
                <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-danger">
                    <div *ngIf="description?.errors?.required">
                        This feld is required.
                    </div>
                </div>

                <label class="form-label">Category</label>
                <select class="form-select mb-3" formControlName="categoryId">
                    <option *ngFor="let item of categories" [ngValue]="item.id">{{item.name}}</option>
                </select>
                <div *ngIf="categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)" class="text-danger">
                    <div *ngIf="categoryId?.errors?.required">
                        This field is required.
                    </div>
                </div>

                <label class="form-label">PromotionPrice</label>
                <input type="number" class="form-control mb-3" formControlName="promotionPrice">
                <div *ngIf="promotionPrice?.invalid && (promotionPrice?.dirty || promotionPrice?.touched)" class="text-danger">
                    <div *ngIf="promotionPrice?.errors?.required">
                        This feld is required.
                    </div>
                </div>

                <label class="form-label">Color</label>
                <select class="form-select mb-3" formControlName="color">
                    <option>Blue</option>
                    <option>Red</option>
                    <option>Pink</option>
                    <option>Green</option>
                    <option>Yellow</option>
                    <option>Purple</option>
                    <option>Brown</option>
                    <option>White</option>
                    <option>Black</option>
                </select>
                <div *ngIf="color?.invalid && (color?.dirty || color?.touched)" class="text-danger">

                    <div *ngIf="color?.errors?.required">
                        This feld is required.
                    </div>
                </div>

                <label class="form-label">Image</label>
                <input type="file" class="form-control mb-3" (change)="handleFileSelect($event)">
                <div *ngIf="image?.invalid && (image?.dirty || image?.touched)" class="text-danger">

                    <div *ngIf="image?.errors?.required">
                        This feld is required.
                    </div>

                </div>
            </div>

            <div class="mb-3 col-lg-6">
                <img [src]="imageSource" alt="Image Source" width="537" height="415">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Create</button>
    </form>
</div>