<!-- <div class="container-fluid min-vh-100">
    <div class="row" style="padding-top: 100px;">
        <div class="col-md-4 m-auto border">
            <h3 class="text-center mt-5">Login</h3>
            <div class="card-header bg-transparent pb-5">
                <div class="text-center mt-2 mb-3"><small class="font-weight-bold">With</small></div>
                <div class="btn-wrapper text-center">
                    <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon"><i class="fab fa-github text-lg"></i></span> &nbsp;
                        <span class="btn-inner--text">Github</span>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon"><i class="fab fa-google text-lg"></i></span> &nbsp;
                        <span class="btn-inner--text">Google</span>
                    </a>
                </div>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="submit()" class="m-3">
                <div class="mb-4">
                    <label class="form-label mb-3">Email</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>
                <div class="mb-5">
                    <label class="form-label mb-3">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <button class="btn btn-success btn-sm mb-5">SIGN IN</button> &nbsp;
                <button class="btn btn-success btn-sm mb-5">SIGN UP</button>
            </form>
        </div>
    </div>
</div> -->

<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid ps-2 pe-0">
                    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="../pages/dashboard.html">
                     Dashboard
            </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/admin/home">
                                    <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i> Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="../pages/profile.html">
                                    <i class="fa fa-user opacity-6 text-dark me-1"></i> Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="../pages/sign-up.html">
                                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i> Sign Up
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="../pages/sign-in.html">
                                    <i class="fas fa-key opacity-6 text-dark me-1"></i> Sign In
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav d-lg-block d-none">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/product/material-dashboard" class="btn btn-sm mb-0 me-1 bg-gradient-dark"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>
<main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 m-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom col-md-4 m-auto">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign up</h4>
                                <div class="row mt-3">
                                    <div class="col-2 text-center ms-auto">
                                        <a class="btn btn-link px-3">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="registerForm" (ngSubmit)="submit()" class="m-3 text-start">
                                <div class="input-group input-group-outline my-3">

                                    <input type="email" class="form-control" placeholder="Email" formControlName="email">
                                </div>
                                <div class="input-group input-group-outline mb-3">

                                    <input type="text" class="form-control" placeholder="Username" formControlName="username">
                                </div>

                                <div class="input-group input-group-outline mb-3">

                                    <input type="password" class="form-control" placeholder="Password" formControlName="password">
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign up</button>
                                </div>
                                <p class="mt-4 text-sm text-center">
                                    You have an account?
                                    <a href="/login" class="text-primary text-gradient font-weight-bold">Sign in</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>