<div class="super_container">

    <!-- Header -->
    <app-nav></app-nav>

    <div class="container product_section_container">
        <div class="row">
            <div class="col product_section clearfix">

                <!-- Breadcrumbs -->

                <hr>

                <!-- Sidebar -->


                <!-- Main Content -->

                <div class="main_content mt-3">

                    <!-- Products -->
                    <div>
                        <div class="products_iso">
                            <div class="row">
                                <!-- Product Grid -->
                                <h4>Selling Products</h4>
                                <div class="product-grid row">
                                    <!-- Product 1 -->
                                    <div class="product-item men" *ngFor="let item of productsBestSold | paginate: { itemsPerPage: pageSize, currentPage: cp }">
                                        <div class="product discount product_filter">
                                            <div class="product_image">
                                                <img src="{{'data:image/jpeg;base64,' + item.image}}" height="230" [routerLink]="['/detail',item.id]">
                                            </div>
                                            <div class="favorite favorite_left"></div>
                                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-${{item.price - (item.price * ((100-item.promotionPrice)/100)) | number}}</span></div>
                                            <div class="product_info">
                                                <h6 class="product_name"><a href="single.html">{{item.name}}</a></h6>
                                                <div class="product_price">${{item.price * ((100-item.promotionPrice)/100)| number}}<span>${{item.price}}</span></div>
                                            </div>
                                        </div>
                                        <div class="red_button add_to_cart_button"><a (click)="addToCart(item)">add to cart</a></div>
                                    </div>
                                    <!-- Product Sorting -->
                                </div>
                            </div>

                            <div class="row mt-3">
                                <!-- Product Grid -->
                                <h4>New Products</h4>
                                <div class="product-grid row">
                                    <!-- Product 1 -->
                                    <div class="product-item men" *ngFor="let item of productsLast | paginate: { itemsPerPage: pageSize, currentPage: cp }">
                                        <div class="product discount product_filter">
                                            <div class="product_image">
                                                <img src="{{'data:image/jpeg;base64,' + item.image}}" height="230" [routerLink]="['/detail',item.id]">
                                            </div>
                                            <div class="favorite favorite_left"></div>
                                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-${{item.price - (item.price * ((100-item.promotionPrice)/100)) | number}}</span></div>
                                            <div class="product_info">
                                                <h6 class="product_name"><a href="single.html">{{item.name}}</a></h6>
                                                <div class="product_price">${{item.price * ((100-item.promotionPrice)/100)| number}}<span>${{item.price}}</span></div>
                                            </div>
                                        </div>
                                        <div class="red_button add_to_cart_button"><a (click)="addToCart(item)">add to cart</a></div>
                                    </div>
                                    <!-- Product Sorting -->
                                </div>
                            </div>

                            <div class="row mt-3">
                                <!-- Product Grid -->
                                <h4>Discount Products</h4>
                                <div class="product-grid row">
                                    <!-- Product 1 -->
                                    <div class="product-item men" *ngFor="let item of productBestPromotion | paginate: { itemsPerPage: pageSize, currentPage: cp }">
                                        <div class="product discount product_filter">
                                            <div class="product_image">
                                                <img src="{{'data:image/jpeg;base64,' + item.image}}" height="230" [routerLink]="['/detail',item.id]">
                                            </div>
                                            <div class="favorite favorite_left"></div>
                                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-${{item.price - (item.price * ((100-item.promotionPrice)/100)) | number}}</span></div>
                                            <div class="product_info">
                                                <h6 class="product_name"><a href="single.html">{{item.name}}</a></h6>
                                                <div class="product_price">${{item.price * ((100-item.promotionPrice)/100)| number}}<span>${{item.price}}</span></div>
                                            </div>
                                        </div>
                                        <div class="red_button add_to_cart_button"><a (click)="addToCart(item)">add to cart</a></div>
                                    </div>
                                    <!-- Product Sorting -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Benefit -->
    <app-footer></app-footer>


</div>