<div>
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Order Detail</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2 mr-4 ms-4">
            <div class="table-responsive p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Phone</th>
                            <th>Name User</th>
                            <th>Address</th>
                            <th>Created On</th>
                            <th>Updated On</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{order.phone}}</td>
                            <td>{{order.nameUser}}</td>
                            <td>{{order.address}}</td>
                            <td>{{order.createdOn |date}}</td>
                            <td>{{order.updatedOn |date}}</td>
                            <td [class]="order.status == true ? 'badge bg-success mt-2' : order.status == false ? 'badge bg-warning mt-2':'badge bg-danger mt-2'" [innerText]="order.status == true ? 'Approved' : order.status == false ? 'Pending Approval':'Reject'"></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <button *ngIf="order.status == false" type="button" class="btn btn-sm btn-success" (click)="updateOrder(order.id)">
                                <i class="fa fa-check"></i>
                                Approve
                                </button>

                                    <button *ngIf="order.status == false" type="button" class="btn btn-sm btn-danger" (click)="rejectOrder(order.id)">
                                    <i class="fas fa-times"></i>
                                    Reject
                                </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Product List</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2 mr-4 ms-4">
            <div class="table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Promotion Price</th>
                            <th>Size</th>
                            <th>Color</th>
                            <th>Sum Of Price</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of order.products | paginate: { itemsPerPage: 5, currentPage: cp };let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.quantity}}</td>
                            <td>${{item.price}}</td>
                            <td><img src="{{'data:image/jpeg;base64,' + item.image}}" alt="" width="100" height="60"></td>
                            <td class="ps-5">{{item.promotionPrice}}%</td>
                            <td>{{item.size}}</td>
                            <td>{{item.color}}</td>
                            <td>${{(item.price - (item.price * (item.promotionPrice/100))) * item.quantity |number}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item">
                                            <pagination-controls class="my-pagination" (pageChange)="cp = $event" previousLabel="" nextLabel=""></pagination-controls>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>