<form [formGroup]="categoryForm" (ngSubmit)="Create()">
    <div class="row">
        <div class="mb-3 col-lg-6">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">

                <div *ngIf="name?.errors?.required">
                    Name is required.
                </div>

            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Create</button>
</form>