<app-nav></app-nav>
<div class="container-fluid min-vh-100" style="margin-top: 460px;">
    <div class="login-reg-panel">
        <div class="login-info-box">
            <h2>Have an account?</h2>
            <p>Lorem ipsum dolor sit amet</p>
            <label id="label-register" for="log-reg-show">Login</label>
            <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
        </div>

        <div class="register-info-box">
            <h2>Don't have an account?</h2>
            <p>Lorem ipsum dolor sit amet</p>
            <a routerLink="/register" id="label-login">Register</a>
            <input type="radio" name="active-log-panel" id="log-login-show">
        </div>

        <div class="white-panel">
            <h2 class="text-left m-5">LOGIN</h2>
            <form [formGroup]="loginForm" (ngSubmit)="submit()" class="m-5">
                <div class="mb-5">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email" style="height: 50px;">
                </div>
                <div class="mb-5">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" style="height: 50px;">
                </div>
                <div class="row m-1">
                    <a href="" class="col-9 text-left">Forgot password?</a>
                    <button class="btn btn-success btn-sm col-3" type="submit">SIGN IN</button>
                </div>
                <!-- <a routerLink="/register" class="btn btn-success btn-sm mb-5">SIGN UP</a> -->
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>