<app-nav></app-nav>
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a><i class="fa fa-angle-right" aria-hidden="true"></i>{{product.name}}</a></li>
                    <!-- <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a></li> -->
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                        <div class="single_product_thumbnails">
                            <ul>
                                <li><img src="{{'data:image/jpeg;base64,' + product.image}}" alt=""></li>
                                <li class="active"><img src="{{'data:image/jpeg;base64,' + product.image}}" alt="" data-image="images/single_2.jpg"></li>
                                <li><img src="{{'data:image/jpeg;base64,' + product.image}}" alt="" data-image="images/single_3.jpg"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <img class="single_product_image_background" src="{{'data:image/jpeg;base64,' + product.image}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>{{product.name}}</h2>
                    <p>{{product.description}}</p>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>free delivery</span>
                </div>
                <div class="original_price">${{product.price}}</div>
                <div class="product_price">${{product.price * ((100-product.promotionPrice)/100)| number}}</div>
                <ul class="star_rating">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
                <div class="product_color">
                    <span>Select Color:</span> &nbsp;
                    <button [class]="colorActive == 'Red' ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-outline-danger'" (click)="getProductByColor(product.name, product.size, 'red')">Red</button> &nbsp;
                    <button [class]="colorActive == 'Black' ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-outline-danger'" (click)="getProductByColor(product.name, product.size, 'black')"> Black </button> &nbsp;
                    <button [class]="colorActive == 'Blue' ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-outline-danger'" (click)="getProductByColor(product.name, product.size, 'blue')">Blue </button> &nbsp;
                    <button [class]="colorActive == 'Pink' ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-outline-danger'" (click)="getProductByColor(product.name, product.size, 'pink')">Pink </button> &nbsp;
                    <button [class]="colorActive == 'Yellow' ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-outline-danger'" (click)="getProductByColor(product.name, product.size, 'yellow')">Yellow </button>

                    <button style="margin-left: 100px; margin-top: 20px;" [class]="colorActive == 'Brown' ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-outline-danger'" (click)="getProductByColor(product.name, product.size, 'brown')">Brown </button>&nbsp;
                    <button style="margin-top: 20px;" [class]="colorActive == 'Purple' ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-outline-danger'" (click)="getProductByColor(product.name, product.size, 'purple')">Purple </button>&nbsp;
                    <button style=" margin-top: 20px;" [class]="colorActive == 'Green' ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-outline-danger'" (click)="getProductByColor(product.name, product.size, 'green')">Green </button>&nbsp;
                    <button style="margin-top: 20px;" [class]="colorActive == 'White' ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-outline-danger'" (click)="getProductByColor(product.name, product.size, 'white')">White </button>

                </div>
                <div class="product_color">
                    <span>Select Size:</span> &nbsp;&nbsp;&nbsp;
                    <button [class]="sizeActive == 'S' ? 'btn btn-sm btn-dark' : 'btn btn-sm btn-outline-dark'" (click)="getProductBySize(product.name, 'S', product.color)">S</button> &nbsp;
                    <button [class]="sizeActive == 'M' ? 'btn btn-sm btn-dark' : 'btn btn-sm btn-outline-dark'" (click)="getProductBySize(product.name, 'M', product.color)">M</button> &nbsp;
                    <button [class]="sizeActive == 'L' ? 'btn btn-sm btn-dark' : 'btn btn-sm btn-outline-dark'" (click)="getProductBySize(product.name, 'L', product.color)">L</button> &nbsp;
                    <button [class]="sizeActive == 'XL' ? 'btn btn-sm btn-dark' : 'btn btn-sm btn-outline-dark'" (click)="getProductBySize(product.name, 'XL', product.color)">XL</button> &nbsp;
                    <button [class]="sizeActive == 'XXL' ? 'btn btn-sm btn-dark' : 'btn btn-sm btn-outline-dark'" (click)="getProductBySize(product.name, 'XXL', product.color)">XXL</button> &nbsp;

                </div>
                <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                    <span>Quantity({{product.quantity}}):</span>
                    <div class="quantity_selector">
                        <span class="minus" (click)="changeQuantityEx()"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        <span id="quantity_value">{{numberOfQuantity}}</span>
                        <span class="plus" (click)="changeQuantityPlus()"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                    <div class="red_button add_to_cart_button"><a class="btn" (click)="addToCart(product)">add to cart</a></div>
                    <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>