<div class="border">
    <form [formGroup]="categoryForm" (ngSubmit)="Update()" class="m-5">
        <div class="row">
            <div class="mb-3 col-lg-6">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" [value]="category?.name" formControlName="name">
                <div *ngIf="category?.invalid && (category?.dirty || category?.touched)" class="text-danger">

                    <div *ngIf="category?.errors?.required">
                        This feld is required.
                    </div>

                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Update</button>
    </form>
</div>