<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-cart-arrow-down"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Total order</p>
                        <h4 class="mb-0">{{orders.length}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{orders.length}} </span>orders</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fab fa-product-hunt"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Total product</p>
                        <h4 class="mb-0">{{products.length}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{products.length}} </span>products</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Total category</p>
                        <h4 class="mb-0">{{categories.length}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{categories.length}}</span> categories</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                        <i class="far fa-user"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Total user</p>
                        <h4 class="mb-0">{{users.length}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{users.length}} </span>users</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card my-4" *ngIf="products != null">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Statistical</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2 mr-4 ms-4">
            <div class="table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th>Month</th>
                            <th>Sales</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of statistical; let i = index">
                            <td>{{item.month}}</td>
                            <td>${{item.sales}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>

    <div class="card my-4" *ngIf="products != null">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Selling Products</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2 mr-4 ms-4">
            <div class="table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp; Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th class="text-center">Promotion Price</th>
                            <th>Sold</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of productBestSold; let i = index">

                            <td>
                                <div class="d-flex">
                                    <div>
                                        <img src="{{'data:image/jpeg;base64,' + item.image}}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{item.name}}</h6>
                                    </div>
                                </div>

                            </td>
                            <td>{{item.quantity}}</td>
                            <td>${{item.price}}</td>

                            <td style="text-align: center;">{{item.promotionPrice}}%</td>
                            <td>{{item.sold}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>

    <div class="card my-4" *ngIf="products != null">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Warning Quantity Products</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2 mr-4 ms-4">
            <div class="table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp; Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th class="text-center">Promotion Price</th>
                            <th>Sold</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of productWarning | paginate: { itemsPerPage: 5, currentPage: cp }; let i = index">

                            <td>
                                <div class="d-flex">
                                    <div>
                                        <img src="{{'data:image/jpeg;base64,' + item.image}}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{item.name}}</h6>
                                    </div>
                                </div>

                            </td>
                            <td>{{item.quantity}}</td>
                            <td>${{item.price}}</td>

                            <td style="text-align: center;">{{item.promotionPrice}}%</td>
                            <td>{{item.sold}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item">
                                            <pagination-controls class="my-pagination" (pageChange)="cp = $event" previousLabel="" nextLabel=""></pagination-controls>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>